<!DOCTYPE html>
<html lang="en">
<%- include('./parciais/head.ejs') %>
<body>
        <!--inclusão de parcial-->
    <%- include('./parciais/nav.ejs') %>

    <h1>HOME</h1>

    
     <% if (conteudoBlog.length > 0) { %>
        <% conteudoBlog.forEach(conteudo => { %>

            <h3 class= "titulo"><%= conteudo.titulo %></h3>
            <p class = "conteudo"><%= conteudo.conteudo %></p>

        <% }) %>
         <% } else {  %>
            <p>A página está vazia</p>
       <% } %>

    <%- include('./parciais/footer.ejs') %>
</body>
</html>